#contact_modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.photograph-header {
  position: relative;
  /* display: flex; */
  background-color: #fafafa;
  /* height: 300px; */
  margin: 50px 100px;
  /* flex-direction: column-reverse; */
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

.contacter_btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 45%;
  z-index: 2;
}

.photographer-details {
  position: relative;
  height: 313px;
}

.photographer-details img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 40px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

.photographer-details h2 {
  color: #d3573c;
  height: 83px;
  font-weight: 400px;
  font-size: 64px;
  margin: 50px 0 20px 40px;
  padding-top: 50px;
}

.photographer-details h3 {
  color: #901c1c;
  font-size: 24px;
  height: 31px;
  margin: 0 40px;
}

.photographer-details p {
  margin: 20px 0 0 40px;
  color: #525252;
  font-size: 18px;
}

.pictures {
  margin: 200px 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.pictures img,
video {
  object-fit: cover;
  width: 350px;
  height: 300px;
  margin-bottom: 80px;
}

.media-container {
  position: relative;
  width: calc(33.33% - 20px);
  max-height: 350px;
  max-width: 350px;
}

.media-info {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 70px;
  left: 0;
  width: 100%;
  transform: translateY(100%);
}

.likes-container {
  display: flex;
  align-items: center;
  font-size: 24px;
  color: #901c1c;
}

.mediaTitle {
  color: #901c1c;
  font-size: 24px;
  font-weight: 400;
}

.mediaLikes {
  margin-right: 5px;
}

.heart-icon {
  color: #901c1c !important;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 669px;
  max-height: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: auto; /* Permet le défilement vertical si le contenu dépasse la hauteur maximale */
}

.modal header {
  align-items: baseline;
  gap: 25px;
  width: 100%;
  height: 166px;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: left;
  margin: 0;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}

form textarea {
  width: calc(100% - 20px);
  height: 150px;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
}

/* LIGHTBOX */
.lightbox_container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Fond semi-transparent */
  z-index: 9999;
  overflow: auto;
}

.lightbox-content {
  position: relative;
  margin: 10% auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  max-width: 600px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.lightbox img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.lightbox-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
  color: #fff;
}
