/* Style général pour le conteneur de tri */
#sort-container {
  width: 50%;
  display: flex;
  margin: 0 0 50px 100px;
  align-items: center;
  gap: 20px;
}

.trie-label {
  font-size: 18px;
  font-weight: 700;
  line-height: 23.44px;
}

/* Style pour le conteneur de l'élément select personnalisé */
#select-wrapper {
  position: relative;
  width: 170px;
  height: 69px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  background-color: #901c1c;
  color: white;
}

/* Style pour l'élément select personnalisé */
.custom-select {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 25px;
  font-size: 18px;
  color: white;
}

/* Style pour le conteneur des options */
#options-container {
  position: absolute;
  top: 90%;
  left: 0;
  width: 100%;
  background-color: #901c1c;
  border-radius: 5px;
  z-index: 10;
}

/* Style pour chaque option dans le menu déroulant */
.custom-select-option {
  padding: 10px 24px;
  font-size: 18px;
  cursor: pointer;
  margin: 0 auto;
  position: relative;
}

/* Trait de séparation entre les options - en haut */
.custom-select-option::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 80%;
  height: 1px;
  background-color: #fff;
  transform: translateX(-50%);
}

/* Style au survol de chaque option */
.custom-select-option:hover {
  background-color: #e0e0e0;
}

/* Style pour la flèche du menu déroulant */
.select-arrow {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

/* Styles pour l'icône de la flèche du menu déroulant */
.select-arrow svg {
  transition: transform 0.3s ease;
}

/* Styles pour la flèche vers le bas */
.select-arrow.down svg {
  transform: rotate(0deg);
}

/* Styles pour la flèche vers le haut */
.select-arrow.up svg {
  transform: rotate(180deg);
}
